.main_card{
  font-family: 'Shrikhand', cursive;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 15px 0 15px 0;
}
.main_card a{
  text-decoration: none;
  color: black;
}
.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 90%;
  height: 90px;
  background-color: #F3F3F3;
  padding: 12px;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  box-shadow: 5px 5px 10px rgba(156, 156, 156, 0.233);
  animation-name: fadeIn;
  animation-duration: 4s;
  transition: transform linear 4s;
}
.meal_1{
  animation: fadeIn 1s;
}
.meal_2{
  animation: fadeIn 2s;
}
.meal_3{
  animation: fadeIn 3s;
}
.meal_4{
  animation: fadeIn 4s;
}
@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.price{  
  display: flex;
  justify-content: center;
  width: 25%;
}
.meal{
  width: 75%;
  justify-content: flex-start;
  align-items: center;
}

.card:hover .select{
  width: 20%;
  
}
.select{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background: #99E2D0;
  color: white;
  border-radius: 0 15px 15px 0;
  margin-right: -12px;
  height: 115px;
  width: 0%;
}
