body{
    margin: 0;
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 1.6em;
    font-weight: 500;
    margin: 0;
    
}
h2{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;
    padding-bottom: 5px;
    position: relative;
}
h2::before{
    content: "";
    position: absolute;
    background-color: #99e2d0;
    width: 40px;
    height: 3px;
    bottom: 0;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 5px 0;
}
p, li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin: 0;
}
button{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

/*---HEADER---*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banniere{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 15px 12px 15px;
}
.element:nth-child(1){
    flex: 1;
}
.element:nth-child(2){
    flex: 2;
}
.banniere a{
    color: black;
}
.image_1{
    width: 50%;
}
.image_2{
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/*---MENU---*/
.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 35px 35px 0 0;
    background-color: #f6f6f6;
    padding: 0 0 60px 0;
    margin-top: -60px;
}
.menu_name{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
}
.menu_name i{;
    color: black;
    font-size: 1.6em;
}


.icon_heart{
    position: relative;
    display: flex;
    align-items: center;
    animation-name: updateColorOpacity;
    animation-duration: ease-in-out 0.5s;
}
.empty_heart{
    position: absolute;
    z-index: 1;
}
.full_heart{
    position: absolute;
    z-index: 2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.icon_heart:hover .full_heart, .icon_heart:hover .empty_heart{
    cursor: pointer;
    background: -webkit-gradient(linear,left top,left bottom,from(#9356DC),to(#FF79DA));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
@keyframes updateColorOpacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*---MENUS---*/
.main_card{
    width: 90%;
    margin: 15px 0 15px 0;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: 90px;
    background-color: white;
    padding: 0 0 0 12px;
    border-radius: 15px;
    margin: 10px 0 10px 0;
    box-shadow: 5px 5px 10px rgba(156, 156, 156, 0.233);
    animation-name: fadeIn;
    animation-duration: 4s;
    transition: transform linear 4s;
}
.card:hover{
    cursor: pointer;
}
.meal_1{
    animation: fadeIn 1s;
}
.meal_2{
    animation: fadeIn 2s;
}
.meal_3{
    animation: fadeIn 3s;
}
.meal_4{
    animation: fadeIn 4s;
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.meal{
    width: 75%;
    height: auto;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.card:hover .meal{
    white-space: nowrap;
    width: 55%;
}
.card:hover .meal h3, .card:hover .meal p{
    overflow: hidden;
    text-overflow: ellipsis;
}

.price{  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: auto;
    width: 25%;
}
.card:hover .price{
    width: 20%;
}
.price p{
    display: flex;
    height: auto;
    justify-content: center;
}

.select{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: #99E2D0;
    color: white;
    border-radius: 0 15px 15px 0;
    height: 90px;
    width: 0%;
    transition: all 0.5s; 
}
.card:hover .select{
    width: 20%;
}

.circle i{
    display: flex;
    justify-content: center;
}
.circle{
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.card:hover .circle{
    transform: rotate(1turn);
    transform-origin: center;
}


.main_card a{
    text-decoration: none;
    color: black;
}
.main_card a:hover{
    background-color: #f5edff;
    box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.671);
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


button{
    color: white;
    background: linear-gradient(0deg, #9356DC, #FF79DA) ;
    padding: 13px 50px 13px 50px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    box-shadow: 5px 5px 10px rgba(156, 156, 156, 0.233);
    transform: scale(1);
    transition: all 0.2s;
}
button a{
    color: white;
    text-decoration: none;
}
button:hover{
    transform: scale(1.15);
    color: white;
    box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.473);
}
/*---FOOTER---*/
footer{
    color: white;
    background-color: #353535;
    padding: 40px 20px 40px 0;
}
footer img{
    filter: invert(100%);
    width: 25%;
    padding-left: 40px;
}
footer ul li{
    list-style: none;
    margin: 0;
    padding: 5px 0 5px 0;
}
footer i{
    margin-right: 20px;
}
footer a{
    color: white;
    text-decoration: none;
}