/*---LOADING SPINNER---*/
.chargement{
    position: fixed;
    z-index: 5;
    justify-content: center;
    background: white;
    width: 100%;
    height: 100%;
    display:  flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #020202;
    animation-name: loader;
    animation-duration: 3000ms;
    animation-fill-mode: both;
}
@keyframes loader{
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.chargement img{
    width: 200px;
    animation: pulse 1s infinite ease-in-out;
}
@keyframes pulse{
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
/*.chargement i{ 
    font-size: 2em;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin{
    0% {
        transform:rotate(0deg);
        opacity: 0.1;
    }
    50% {
        transform: rotate(180deg);
        opacity: 1;
    }
    100% {
        transform:rotate(360deg);
        opacity: 0.1;
    }
}*/



/*-------------------*/
/*---CORPS DU SITE---*/
/*-------------------*/
body{
    margin: 0;
}
h1{
    /* font-family: 'Shrikhand', cursive; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    margin: 0;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}
h3, input{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}
p, li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin: 0;
}
button{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}
/*---HEADER---*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
header a{
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    height: 40%;
    width: 40%;
    margin: 20px 0 20px 0;
}
.localisation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    width: 130px;
    padding-left: 100%;
    padding-right: 100%;
    border-top: 3px solid #c5c4c4;
}
input{
    border: none;
    background: none;
    margin: 10px;
    padding: 5px;
}
    :placeholder-shown{
    border-radius: 0px;
    background: none;
    border-color: none;
}
.exploration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f6f6f6;
    padding: 40px 0 40px 0;
}
.exploration h1, .exploration p{
    text-align:center;
}
.exploration h1{
    width: 50%;
}
.exploration p{
    width: 60%;
}
button{
    color: white;
    background: linear-gradient(0deg, #9356DC, #FF79DA) ;
    padding: 15px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s;
}
button:hover{
    transform: scale(1.15);
    background-color: #f5edff;
    box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.671);
}

header p{
    margin-top: 20px;
}

/*---SECTION FONCTIONNEMENT---*/
.fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
}
.carte_1{
    position: relative;
    display: flex;
    align-items: ;
    width: 70%;
    height: 75px;
    margin: 15px;
    border-radius: 30px;
    background-color: #f6f6f6;
    box-shadow: 5px 5px 10px rgba(156, 156, 156, 0.562);
}
.carte_1:hover{
    background-color: #f5edff;
    box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.671);
}
.sous_carte_1{
    position: absolute;
    top: 25px;
    left: -10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
}
.numero{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #9356DC;
    height: 10px;
    width: 10px;
    padding: 8px;
    border-radius: 50px;
    margin: 0;
}
.sous_carte_1 p{
    margin: 0;
}
.sous_carte_1 i{
    color: #7e7e7e;
    font-size: 1.2em;
}
.sous_carte_1 h2{
    color: black;
    font-size: 1em;
    font-style: normal;
}

/*---SECTION RESTAURANT---*/
.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    margin: 40px 0 0 0;
    padding: 40px 0 40px 0;
}
.carte_2{
    color: black;
    text-decoration: none;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 20px;
    width: 70%;
    height: 200px;
    margin: 20px 0 20px 0;
    box-shadow: 5px 5px 10px rgba(156, 156, 156, 0.562);
}
.carte_2 img{
    object-fit: cover;
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0 0;
}
.carte_2:hover{
    background-color: #f5edff;
    box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.671);
}
.carte_2 h3{
    font-size: 0.8em;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #99E2D0;
    color: #0e8f70;
    box-shadow: 1px 1px 5px rgba(156, 156, 156, 0.562);
    padding: 5px;
}
.sous_carte_2{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px 15px 15px;
}
.titre_restaurant{
    display: flex;
    flex-direction: column;
}
.titre_restaurant p{
    margin-top: 5px;
}

.icon_heart{
    display: flex;
    align-items: center;
}
.empty_heart{
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 1.5em;
}
.full_heart{
    display: none;
    position: absolute;
    right: 0;
    z-index: 2;
    font-size: 1.5em;
}
.icon_heart:hover .full_heart{
    display: flex;
    background-clip: linear-gradient(0deg, #9356DC, #FF79DA);
}

/*---FOOTER---*/
footer{
    color: white;
    background-color: #353535;
    padding: 40px 20px 40px 0;
}
footer img{
    filter: invert(100%);
    width: 25%;
    padding-left: 40px;
}
footer ul li{
    list-style: none;
    margin: 0;
    padding: 5px 0 5px 0;
}
footer i{
    margin-right: 20px;
}
footer a{
    color: white;
    text-decoration: none;
}